.BarierBlock{
    height: 50px;
}

@media (max-width:1500px) {
    .BarierBlock{
        height: calc(10vw / 3);
    }    
}

@media (max-width:780px) {
    .BarierBlock{
        display: none;
    }    
}