/*Global setting*/
.BooksSectionR{
    height: 600px;
    display: flex;
}


.HeroBookLR{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 700px;
    display: none;
    text-align: center;
}

.HeroBookRR{
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    display: flex;
    text-align: center;
}

@media (max-width: 1644px){
    .BooksSectionR{
        display: block;
        height: 1200px;
    }
    .HeroBookLR{
        width: 100vw;
        height: 500px;
        display: flex;
        
    }
    .HeroBookRR{
        display: none;
    }
}

@media (max-width: 1000px) {
    .HeroBookLR{
        height: 50vw;
    }
    .BooksSectionR{
        height: fit-content;
    }
}