.HeroBookL{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 700px;
    display: flex;
    text-align: center;
}

@media (max-width: 1644px){

    .HeroBookL{
        width: 100vw;
        height: 500px;
        display: flex;
    }
}