.MSearchItems{
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
    overflow: auto;
}

.MSIContainer{
    width: 90vw;
    height: fit-content;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.MSICard{
    width: 45vw;
    height: 250px;
    display: block;
}

.MSIInnerCard{
    width: 80%;
    height: 75%;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: left;
    font-weight: 600;
    padding: 10px;
}

.MSITitle{
    position: relative;
    top: -83%;
    width: 80%;
    height: 75%;
    margin: auto;
    border-radius: 15px;
    background-color: rgba(21, 21, 21, 0.499);
    color: white;
    text-align: left;
    font-weight: 600;
    padding: 10px;
}