.MSearchResult{
    width: 100%;
    height: calc(100% - 100px);
    background-color: rgb(2, 2, 17);
}

.MSRHeader{
    height: 50px;
    width: 100%;
    display: flex;
    background-color: rgb(7, 5, 43);
}

.MSRTitle{
    margin:auto;
    margin-left: 30px;
    color: white;
    font-weight: 600;
}

.MSRItems{
    height: calc(100% - 50px);
    display: flex;
}