.NoData{
    width: 100%;
    height: 100%;
    display: flex;
}

.NDContainer{
    width: 200px;
    height: 250px;
    margin: auto;
    opacity: 0.5;
}

.NDContainer p{
    color: white;
    font-weight: 700;
}

.NDImage{
    height: 80%;
    width: 100%;
    fill: white;
}