/* Global Mainframe */

.Mainframe{
    margin-top: 170px;
    min-height: calc(100vh - 170px);
    width: 100vw;
    overflow: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    transition: opacity 0.3s ease;
}

.fade-in {
    opacity: 1;
}
  
.fade-out {
    opacity: 0;
}

@media (max-width: 1500px) {
    .Mainframe{
        margin-top: calc(100vw * 17/150);
    }    
}

@media (max-width:780px) {
    .Mainframe{
        margin-top: 80px;
    }
}